*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
body{
    background-color: #fafafa;
    background-color: #a8a8a81e;
    font-family: 'Space  Grotesk'  'Oleo Script' sans-serif;
}

/*Styling Navigtion bar section */
.nav{
   /* background-color: green;*/
height: 70px;
width: 100px;
display: flex;
align-items: center;
justify-content: center;
padding: 20px 20px 20px 20px;
border-bottom: 2px solid greenyellow;
}
navbar{
    display: flex;
    width:80%;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}
.navbar h2{
    flex: 1;
    color: #00d4ff;
    font-family: "Oleo Script", sans-serif;

}
.navbar ul{
    flex: 2;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 0px 5px;
    margin: 20px;
}
.navbar ul li {
 list-style: none;
 padding: 8px 10px;
}
.navbar ul li a{
    font-size: 20px;
    padding: 10px 15px;
    display: flex;
}